@import "./utils/variables";
@import "./base/fonts";

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto-Regular", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: $background-colour-primary;

    &__h1 {
    display: flex;
    background-color: white;

    font-family: "Shrikhand-Regular", sans-serif;
    font-size: 45px;
    color: black;
    justify-content: center;
    padding: 20px 0px 10px 0px ;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.212);

    }

    &__localisation {
    display: flex;
    font-size: bold;
    justify-content: center;
    margin-top: 8px;
    padding: 20px 0px 20px 0px ;
    background-color: $background-colour-primary;



    }
}