@import "./utils/variables";
@import "./base/fonts";

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto-Regular", sans-serif;
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    flex-direction: column;

    h1 {
    display: flex;
    background-color: white;
    font-family: "Shrikhand-Regular", sans-serif;
    font-size: 40px;
    color: black;
    justify-content: center;
    padding: 20px 0px 10px 0px ;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.155);
    }
    .imageHeader {
        height: 300px;
        background-image: url("../../assets/images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        background-size: cover;
    }
}

main {
    position: relative;
    background-color: $background-colour-primary;
}

.sectionhead {
    position: absolute;
    background-color: $background-colour-primary;
    height: 500px;
    width: 100%;
    top: -60px;
    border-radius: 50px 50px 0px 0px ;

    h2 {
        display: flex;
        font-family:"Shrikhand-Regular", sans-serif;
        font-weight : normal;
        margin: 30px 20px 0px 20px;
        justify-content: space-between;
    }
}